* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: #a14646;
  color: #460b0f;
}
.container {
  margin: 12%;
  width: 90%;
  max-width: 700px;
}
.display {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
}
.container h1 {
  font-weight: 500;
  font-size: 45px;
}
.container h1 span {
  color: #460b0f;
  border-bottom: 4px solid #460b0f;
  padding-bottom: 7px;
}
.display img {
  width: 40px;
  cursor: pointer;
}
.display input {
  border: 0;
  outline: 0;
  font-size: 24px;
}

.container button {
  border: 0;
  outline: 0;
  background: #460b0f;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 26px;
  border-radius: 5px;
  cursor: pointer;
}
